
@mixin transition($prop: all, $time: 0.2s, $ease: ease-in-out) {
    transition: $prop $time $ease;
  }
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin flex-column($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}


  @mixin flex($align: center, $justify: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
  
  @mixin hover-brighten {
    &:hover {
      filter: brightness(1.1);
    }
  }
  