@use './variables' as *;
@use './mixins' as *;

.productDetails {
  flex: 1;
}

.productTitle {
  flex: 1;
}

.removeIcon {
  cursor: pointer;
  flex-shrink: 0;
  color: var(--mantine-color-gray-6);
  @include transition(color);

  &:hover {
    color: var(--mantine-color-red-6);
  }
}

.quantityText {
  min-width: 1.25rem;
  text-align: center;
}
