.wishlistButton {
  z-index: 1;
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 0.5rem;
}

.productDescription {
  line-height: 1.65;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.linkArea {
  flex-grow: 1;
  display: block;
  text-decoration: none;
  color: inherit;
}

.bottomSection {
  margin-top: auto;
}
