@use '../../styles/variables' as *;

.iconPrimary {
  color: $primary-color;
}

.activeLink {
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

.inactiveLink {
  color: $black-color;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color:$black-color;
  }
}

.userMenu {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--mantine-color-gray-1);
  }
}
